---
interface Props {
	title: string;
}

const { title } = Astro.props;
import { NavBar} from '../components/NavBar.tsx';
import { HeroPerson } from '../components/HeroPerson.tsx';
import { ExperiencePerson } from '../components/ExperiencePerson.tsx';
import { heroSection, navBar, experienceSection } from '../data/data.ts';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-base">
		<NavBar info={navBar} />
		<HeroPerson info={heroSection}/>
		<ExperiencePerson info={experienceSection}/>
	</body>
</html>
